In [1]:
f=open("data.txt","w")

In [2]:
f.write("some data")

9

In [3]:
f.close()

In [4]:
f.write("sdfsdf")

ValueError: I/O operation on closed file.

In [5]:
f=open("data.txt","w")

In [6]:
f.write("some data")

9

In [7]:
f.flush()

In [8]:
f.write("some more data")

14

In [9]:
f.flush()

In [10]:
f=open("data.txt","a")
l=["emp1","emp2","emp3","emp4"]
f.write(l)
f.close()

TypeError: write() argument must be str, not list

In [11]:
f=open("data.txt","a")
l=["emp1","emp2","emp3","emp4"]
f.writelines(l)
f.close()

In [12]:
f=open("data.txt","a")
l=["\nemp1","emp2","emp3","emp4"]
f.writelines(l)
f.close()

In [13]:
data=[{"name":"sai","age":29},{"name":"jay","age":2},{"name":"vedha","age":1}]
f=open("data.txt","w")
f.write(data)
f.close()

TypeError: write() argument must be str, not list

In [15]:
data=[{"name":"sai","age":29},{"name":"jay","age":2},{"name":"vedha","age":1}]
f=open("data.txt","w")
f.writelines(data)
f.close()

TypeError: write() argument must be str, not dict

In [16]:
data=[{"name":"sai","age":29},{"name":"jay","age":2},{"name":"vedha","age":1}]
f=open("data.txt","w")
f.write(str(data))
f.close()

In [17]:
f=open("data.txt","r")
res=f.read()
print(res)
print(type(res))

[{'name': 'sai', 'age': 29}, {'name': 'jay', 'age': 2}, {'name': 'vedha', 'age': 1}]
<class 'str'>

In [18]:
data=[{"name":"sai","age":29},{"name":"jay","age":2},{"name":"vedha","age":1}]
import pickle
f=open("data.txt","wb")
pickle.dump(data,f)
f.close()

In [19]:
f=open("data.txt","r")
res=f.read()
print(res)
print(type(res))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [21]:
f=open("data.txt","rb")
res=pickle.load(f)
print(res)
print(type(res))

[{'name': 'sai', 'age': 29}, {'name': 'jay', 'age': 2}, {'name': 'vedha', 'age': 1}]
<class 'list'>

In [23]:
data=[{"name":"sai","age":29},{"name":"jay","age":2},{"name":"vedha","age":1}]
import yaml
f=open("data.yaml","w")
yaml.dump(data,f)
f.close()

In [24]:
f=open("data.txt","r")
res=yaml.load(f)
print(res)
print(type(res))

[{'age': 29, 'name': 'sai'}, {'age': 2, 'name': 'jay'}, {'age': 1, 'name': 'vedha'}]
<class 'list'>

In [25]:
data=[{"name":"sai","age":29},{"name":"jay","age":2},{"name":"vedha","age":1}]
import json
f=open("data.json","w")
json.dump(data,f)
f.close()

In [26]:
f=open("data.json","r")
res=json.load(f)
print(res)
print(type(res))

[{'name': 'sai', 'age': 29}, {'name': 'jay', 'age': 2}, {'name': 'vedha', 'age': 1}]
<class 'list'>

In [31]:
names=["pandu","nagarjuna","samreen","suresh","nithish"]
sal=range(10000,200000,1000)
import random
random.choice(sal)

67000

In [32]:
names=["pandu","nagarjuna","samreen","suresh","nithish"]
sals=range(10000,200000,1000)
import random
f=open("data.csv","w")
f.write("id,name,sal")
for i in range(100):
    row="\n%s,%s,%s"%(i,random.choice(names),random.choice(sals))
    f.write(row)
    f.flush()
f.close()

In [33]:
f=open("data.csv","r")
data=f.read()
print(data)

id,name,sal
0,pandu,153000
1,pandu,107000
2,suresh,192000
3,nithish,195000
4,samreen,168000
5,nagarjuna,176000
6,nagarjuna,137000
7,suresh,169000
8,nagarjuna,62000
9,suresh,108000
10,nithish,102000
11,suresh,37000
12,suresh,133000
13,suresh,28000
14,nithish,150000
15,nithish,93000
16,suresh,179000
17,pandu,88000
18,pandu,84000
19,pandu,133000
20,suresh,135000
21,samreen,64000
22,suresh,192000
23,nithish,182000
24,suresh,193000
25,nithish,65000
26,nithish,72000
27,nagarjuna,193000
28,nithish,178000
29,nithish,135000
30,suresh,43000
31,suresh,79000
32,suresh,145000
33,pandu,70000
34,nagarjuna,93000
35,nithish,118000
36,nithish,80000
37,pandu,102000
38,pandu,98000
39,samreen,110000
40,suresh,43000
41,samreen,30000
42,nithish,41000
43,samreen,42000
44,samreen,181000
45,samreen,172000
46,nagarjuna,95000
47,suresh,28000
48,nagarjuna,148000
49,samreen,137000
50,nagarjuna,47000
51,pandu,56000
52,samreen,95000
53,pandu,156000
54,nagarjuna,174000
55,nithish,152000
56,nagarjuna,118000
57,nagarjuna,83000
58,suresh,116000
59,samreen,83000
60,pandu,39000
61,nagarjuna,91000
62,pandu,43000
63,nithish,141000
64,samreen,163000
65,nithish,43000
66,pandu,40000
67,nithish,61000
68,nagarjuna,78000
69,nagarjuna,169000
70,pandu,14000
71,pandu,132000
72,samreen,147000
73,samreen,136000
74,suresh,46000
75,suresh,119000
76,pandu,47000
77,nithish,53000
78,pandu,86000
79,pandu,93000
80,samreen,28000
81,samreen,88000
82,suresh,151000
83,samreen,83000
84,nagarjuna,39000
85,samreen,125000
86,samreen,112000
87,pandu,63000
88,nagarjuna,118000
89,nithish,100000
90,samreen,126000
91,samreen,53000
92,samreen,105000
93,suresh,105000
94,pandu,163000
95,pandu,90000
96,samreen,51000
97,samreen,11000
98,pandu,135000
99,nithish,35000

In [34]:
f=open("data.csv","r")
data=f.read()
data1=f.read()
print(data1)

In [35]:
f=open("data.csv","r")
print(f.tell())
data=f.read()
print(f.tell())
data1=f.read()
print(data1)

0
1720

In [36]:
f=open("data.csv","r")
print(f.tell())
data=f.read()
print(f.tell())
data1=f.read()
print(data1)
print(f.tell())

0
1720

1720

In [37]:
f=open("data.csv","r")
print(f.tell())
data=f.read()
print(f.tell())
print("changing to 100")
f.seek(100)
print(f.tell())
data1=f.read()
print(data1)
print(f.tell())

0
1720
changing to 100
100
una,176000
6,nagarjuna,137000
7,suresh,169000
8,nagarjuna,62000
9,suresh,108000
10,nithish,102000
11,suresh,37000
12,suresh,133000
13,suresh,28000
14,nithish,150000
15,nithish,93000
16,suresh,179000
17,pandu,88000
18,pandu,84000
19,pandu,133000
20,suresh,135000
21,samreen,64000
22,suresh,192000
23,nithish,182000
24,suresh,193000
25,nithish,65000
26,nithish,72000
27,nagarjuna,193000
28,nithish,178000
29,nithish,135000
30,suresh,43000
31,suresh,79000
32,suresh,145000
33,pandu,70000
34,nagarjuna,93000
35,nithish,118000
36,nithish,80000
37,pandu,102000
38,pandu,98000
39,samreen,110000
40,suresh,43000
41,samreen,30000
42,nithish,41000
43,samreen,42000
44,samreen,181000
45,samreen,172000
46,nagarjuna,95000
47,suresh,28000
48,nagarjuna,148000
49,samreen,137000
50,nagarjuna,47000
51,pandu,56000
52,samreen,95000
53,pandu,156000
54,nagarjuna,174000
55,nithish,152000
56,nagarjuna,118000
57,nagarjuna,83000
58,suresh,116000
59,samreen,83000
60,pandu,39000
61,nagarjuna,91000
62,pandu,43000
63,nithish,141000
64,samreen,163000
65,nithish,43000
66,pandu,40000
67,nithish,61000
68,nagarjuna,78000
69,nagarjuna,169000
70,pandu,14000
71,pandu,132000
72,samreen,147000
73,samreen,136000
74,suresh,46000
75,suresh,119000
76,pandu,47000
77,nithish,53000
78,pandu,86000
79,pandu,93000
80,samreen,28000
81,samreen,88000
82,suresh,151000
83,samreen,83000
84,nagarjuna,39000
85,samreen,125000
86,samreen,112000
87,pandu,63000
88,nagarjuna,118000
89,nithish,100000
90,samreen,126000
91,samreen,53000
92,samreen,105000
93,suresh,105000
94,pandu,163000
95,pandu,90000
96,samreen,51000
97,samreen,11000
98,pandu,135000
99,nithish,35000
1720

In [38]:
f=open("data.csv","r")
data=f.read(1024)
print(data)

id,name,sal
0,pandu,153000
1,pandu,107000
2,suresh,192000
3,nithish,195000
4,samreen,168000
5,nagarjuna,176000
6,nagarjuna,137000
7,suresh,169000
8,nagarjuna,62000
9,suresh,108000
10,nithish,102000
11,suresh,37000
12,suresh,133000
13,suresh,28000
14,nithish,150000
15,nithish,93000
16,suresh,179000
17,pandu,88000
18,pandu,84000
19,pandu,133000
20,suresh,135000
21,samreen,64000
22,suresh,192000
23,nithish,182000
24,suresh,193000
25,nithish,65000
26,nithish,72000
27,nagarjuna,193000
28,nithish,178000
29,nithish,135000
30,suresh,43000
31,suresh,79000
32,suresh,145000
33,pandu,70000
34,nagarjuna,93000
35,nithish,118000
36,nithish,80000
37,pandu,102000
38,pandu,98000
39,samreen,110000
40,suresh,43000
41,samreen,30000
42,nithish,41000
43,samreen,42000
44,samreen,181000
45,samreen,172000
46,nagarjuna,95000
47,suresh,28000
48,nagarjuna,148000
49,samreen,137000
50,nagarjuna,47000
51,pandu,56000
52,samreen,95000
53,pandu,156000
54,nagarjuna,174000
55,nithish,152000
56,nagarjuna,118000
57,nagarjuna,83000
58,suresh,116000

In [39]:
data1=f.read(1024)
print(data)

id,name,sal
0,pandu,153000
1,pandu,107000
2,suresh,192000
3,nithish,195000
4,samreen,168000
5,nagarjuna,176000
6,nagarjuna,137000
7,suresh,169000
8,nagarjuna,62000
9,suresh,108000
10,nithish,102000
11,suresh,37000
12,suresh,133000
13,suresh,28000
14,nithish,150000
15,nithish,93000
16,suresh,179000
17,pandu,88000
18,pandu,84000
19,pandu,133000
20,suresh,135000
21,samreen,64000
22,suresh,192000
23,nithish,182000
24,suresh,193000
25,nithish,65000
26,nithish,72000
27,nagarjuna,193000
28,nithish,178000
29,nithish,135000
30,suresh,43000
31,suresh,79000
32,suresh,145000
33,pandu,70000
34,nagarjuna,93000
35,nithish,118000
36,nithish,80000
37,pandu,102000
38,pandu,98000
39,samreen,110000
40,suresh,43000
41,samreen,30000
42,nithish,41000
43,samreen,42000
44,samreen,181000
45,samreen,172000
46,nagarjuna,95000
47,suresh,28000
48,nagarjuna,148000
49,samreen,137000
50,nagarjuna,47000
51,pandu,56000
52,samreen,95000
53,pandu,156000
54,nagarjuna,174000
55,nithish,152000
56,nagarjuna,118000
57,nagarjuna,83000
58,suresh,116000

In [40]:
f=open("data.csv","r")
data=f.read(1024)
print(data)
print("*"*200)
data1=f.read(1024)
print(data1)

id,name,sal
0,pandu,153000
1,pandu,107000
2,suresh,192000
3,nithish,195000
4,samreen,168000
5,nagarjuna,176000
6,nagarjuna,137000
7,suresh,169000
8,nagarjuna,62000
9,suresh,108000
10,nithish,102000
11,suresh,37000
12,suresh,133000
13,suresh,28000
14,nithish,150000
15,nithish,93000
16,suresh,179000
17,pandu,88000
18,pandu,84000
19,pandu,133000
20,suresh,135000
21,samreen,64000
22,suresh,192000
23,nithish,182000
24,suresh,193000
25,nithish,65000
26,nithish,72000
27,nagarjuna,193000
28,nithish,178000
29,nithish,135000
30,suresh,43000
31,suresh,79000
32,suresh,145000
33,pandu,70000
34,nagarjuna,93000
35,nithish,118000
36,nithish,80000
37,pandu,102000
38,pandu,98000
39,samreen,110000
40,suresh,43000
41,samreen,30000
42,nithish,41000
43,samreen,42000
44,samreen,181000
45,samreen,172000
46,nagarjuna,95000
47,suresh,28000
48,nagarjuna,148000
49,samreen,137000
50,nagarjuna,47000
51,pandu,56000
52,samreen,95000
53,pandu,156000
54,nagarjuna,174000
55,nithish,152000
56,nagarjuna,118000
57,nagarjuna,83000
58,suresh,116000
********************************************************************************************************************************************************************************************************

59,samreen,83000
60,pandu,39000
61,nagarjuna,91000
62,pandu,43000
63,nithish,141000
64,samreen,163000
65,nithish,43000
66,pandu,40000
67,nithish,61000
68,nagarjuna,78000
69,nagarjuna,169000
70,pandu,14000
71,pandu,132000
72,samreen,147000
73,samreen,136000
74,suresh,46000
75,suresh,119000
76,pandu,47000
77,nithish,53000
78,pandu,86000
79,pandu,93000
80,samreen,28000
81,samreen,88000
82,suresh,151000
83,samreen,83000
84,nagarjuna,39000
85,samreen,125000
86,samreen,112000
87,pandu,63000
88,nagarjuna,118000
89,nithish,100000
90,samreen,126000
91,samreen,53000
92,samreen,105000
93,suresh,105000
94,pandu,163000
95,pandu,90000
96,samreen,51000
97,samreen,11000
98,pandu,135000
99,nithish,35000

In [41]:
data2=f.read(1024)
print(data2)

In [42]:
f=open("data.csv","r")
while True:
    data=f.read(100)
    if not data:
        break
    print(data)

id,name,sal
0,pandu,153000
1,pandu,107000
2,suresh,192000
3,nithish,195000
4,samreen,168000
5,nagarj
una,176000
6,nagarjuna,137000
7,suresh,169000
8,nagarjuna,62000
9,suresh,108000
10,nithish,102000
11
,suresh,37000
12,suresh,133000
13,suresh,28000
14,nithish,150000
15,nithish,93000
16,suresh,179000
1
7,pandu,88000
18,pandu,84000
19,pandu,133000
20,suresh,135000
21,samreen,64000
22,suresh,192000
23,n
ithish,182000
24,suresh,193000
25,nithish,65000
26,nithish,72000
27,nagarjuna,193000
28,nithish,1780
00
29,nithish,135000
30,suresh,43000
31,suresh,79000
32,suresh,145000
33,pandu,70000
34,nagarjuna,93
000
35,nithish,118000
36,nithish,80000
37,pandu,102000
38,pandu,98000
39,samreen,110000
40,suresh,43
000
41,samreen,30000
42,nithish,41000
43,samreen,42000
44,samreen,181000
45,samreen,172000
46,nagarj
una,95000
47,suresh,28000
48,nagarjuna,148000
49,samreen,137000
50,nagarjuna,47000
51,pandu,56000
52
,samreen,95000
53,pandu,156000
54,nagarjuna,174000
55,nithish,152000
56,nagarjuna,118000
57,nagarjun
a,83000
58,suresh,116000
59,samreen,83000
60,pandu,39000
61,nagarjuna,91000
62,pandu,43000
63,nithis
h,141000
64,samreen,163000
65,nithish,43000
66,pandu,40000
67,nithish,61000
68,nagarjuna,78000
69,na
garjuna,169000
70,pandu,14000
71,pandu,132000
72,samreen,147000
73,samreen,136000
74,suresh,46000
75
,suresh,119000
76,pandu,47000
77,nithish,53000
78,pandu,86000
79,pandu,93000
80,samreen,28000
81,sam
reen,88000
82,suresh,151000
83,samreen,83000
84,nagarjuna,39000
85,samreen,125000
86,samreen,112000

87,pandu,63000
88,nagarjuna,118000
89,nithish,100000
90,samreen,126000
91,samreen,53000
92,samreen,1
05000
93,suresh,105000
94,pandu,163000
95,pandu,90000
96,samreen,51000
97,samreen,11000
98,pandu,135
000
99,nithish,35000

In [43]:
f=open("data.csv","r")
while True:
    data=f.readline()
    if not data:
        break
    print(data)

id,name,sal

0,pandu,153000

1,pandu,107000

2,suresh,192000

3,nithish,195000

4,samreen,168000

5,nagarjuna,176000

6,nagarjuna,137000

7,suresh,169000

8,nagarjuna,62000

9,suresh,108000

10,nithish,102000

11,suresh,37000

12,suresh,133000

13,suresh,28000

14,nithish,150000

15,nithish,93000

16,suresh,179000

17,pandu,88000

18,pandu,84000

19,pandu,133000

20,suresh,135000

21,samreen,64000

22,suresh,192000

23,nithish,182000

24,suresh,193000

25,nithish,65000

26,nithish,72000

27,nagarjuna,193000

28,nithish,178000

29,nithish,135000

30,suresh,43000

31,suresh,79000

32,suresh,145000

33,pandu,70000

34,nagarjuna,93000

35,nithish,118000

36,nithish,80000

37,pandu,102000

38,pandu,98000

39,samreen,110000

40,suresh,43000

41,samreen,30000

42,nithish,41000

43,samreen,42000

44,samreen,181000

45,samreen,172000

46,nagarjuna,95000

47,suresh,28000

48,nagarjuna,148000

49,samreen,137000

50,nagarjuna,47000

51,pandu,56000

52,samreen,95000

53,pandu,156000

54,nagarjuna,174000

55,nithish,152000

56,nagarjuna,118000

57,nagarjuna,83000

58,suresh,116000

59,samreen,83000

60,pandu,39000

61,nagarjuna,91000

62,pandu,43000

63,nithish,141000

64,samreen,163000

65,nithish,43000

66,pandu,40000

67,nithish,61000

68,nagarjuna,78000

69,nagarjuna,169000

70,pandu,14000

71,pandu,132000

72,samreen,147000

73,samreen,136000

74,suresh,46000

75,suresh,119000

76,pandu,47000

77,nithish,53000

78,pandu,86000

79,pandu,93000

80,samreen,28000

81,samreen,88000

82,suresh,151000

83,samreen,83000

84,nagarjuna,39000

85,samreen,125000

86,samreen,112000

87,pandu,63000

88,nagarjuna,118000

89,nithish,100000

90,samreen,126000

91,samreen,53000

92,samreen,105000

93,suresh,105000

94,pandu,163000

95,pandu,90000

96,samreen,51000

97,samreen,11000

98,pandu,135000

99,nithish,35000

In [44]:
f=open("data.csv","r")
for i in f:
    print(i)

id,name,sal

0,pandu,153000

1,pandu,107000

2,suresh,192000

3,nithish,195000

4,samreen,168000

5,nagarjuna,176000

6,nagarjuna,137000

7,suresh,169000

8,nagarjuna,62000

9,suresh,108000

10,nithish,102000

11,suresh,37000

12,suresh,133000

13,suresh,28000

14,nithish,150000

15,nithish,93000

16,suresh,179000

17,pandu,88000

18,pandu,84000

19,pandu,133000

20,suresh,135000

21,samreen,64000

22,suresh,192000

23,nithish,182000

24,suresh,193000

25,nithish,65000

26,nithish,72000

27,nagarjuna,193000

28,nithish,178000

29,nithish,135000

30,suresh,43000

31,suresh,79000

32,suresh,145000

33,pandu,70000

34,nagarjuna,93000

35,nithish,118000

36,nithish,80000

37,pandu,102000

38,pandu,98000

39,samreen,110000

40,suresh,43000

41,samreen,30000

42,nithish,41000

43,samreen,42000

44,samreen,181000

45,samreen,172000

46,nagarjuna,95000

47,suresh,28000

48,nagarjuna,148000

49,samreen,137000

50,nagarjuna,47000

51,pandu,56000

52,samreen,95000

53,pandu,156000

54,nagarjuna,174000

55,nithish,152000

56,nagarjuna,118000

57,nagarjuna,83000

58,suresh,116000

59,samreen,83000

60,pandu,39000

61,nagarjuna,91000

62,pandu,43000

63,nithish,141000

64,samreen,163000

65,nithish,43000

66,pandu,40000

67,nithish,61000

68,nagarjuna,78000

69,nagarjuna,169000

70,pandu,14000

71,pandu,132000

72,samreen,147000

73,samreen,136000

74,suresh,46000

75,suresh,119000

76,pandu,47000

77,nithish,53000

78,pandu,86000

79,pandu,93000

80,samreen,28000

81,samreen,88000

82,suresh,151000

83,samreen,83000

84,nagarjuna,39000

85,samreen,125000

86,samreen,112000

87,pandu,63000

88,nagarjuna,118000

89,nithish,100000

90,samreen,126000

91,samreen,53000

92,samreen,105000

93,suresh,105000

94,pandu,163000

95,pandu,90000

96,samreen,51000

97,samreen,11000

98,pandu,135000

99,nithish,35000

In [45]:
f=open("data.csv","r")
for i in f:
    print(i.split(","))

['id', 'name', 'sal\n']
['0', 'pandu', '153000\n']
['1', 'pandu', '107000\n']
['2', 'suresh', '192000\n']
['3', 'nithish', '195000\n']
['4', 'samreen', '168000\n']
['5', 'nagarjuna', '176000\n']
['6', 'nagarjuna', '137000\n']
['7', 'suresh', '169000\n']
['8', 'nagarjuna', '62000\n']
['9', 'suresh', '108000\n']
['10', 'nithish', '102000\n']
['11', 'suresh', '37000\n']
['12', 'suresh', '133000\n']
['13', 'suresh', '28000\n']
['14', 'nithish', '150000\n']
['15', 'nithish', '93000\n']
['16', 'suresh', '179000\n']
['17', 'pandu', '88000\n']
['18', 'pandu', '84000\n']
['19', 'pandu', '133000\n']
['20', 'suresh', '135000\n']
['21', 'samreen', '64000\n']
['22', 'suresh', '192000\n']
['23', 'nithish', '182000\n']
['24', 'suresh', '193000\n']
['25', 'nithish', '65000\n']
['26', 'nithish', '72000\n']
['27', 'nagarjuna', '193000\n']
['28', 'nithish', '178000\n']
['29', 'nithish', '135000\n']
['30', 'suresh', '43000\n']
['31', 'suresh', '79000\n']
['32', 'suresh', '145000\n']
['33', 'pandu', '70000\n']
['34', 'nagarjuna', '93000\n']
['35', 'nithish', '118000\n']
['36', 'nithish', '80000\n']
['37', 'pandu', '102000\n']
['38', 'pandu', '98000\n']
['39', 'samreen', '110000\n']
['40', 'suresh', '43000\n']
['41', 'samreen', '30000\n']
['42', 'nithish', '41000\n']
['43', 'samreen', '42000\n']
['44', 'samreen', '181000\n']
['45', 'samreen', '172000\n']
['46', 'nagarjuna', '95000\n']
['47', 'suresh', '28000\n']
['48', 'nagarjuna', '148000\n']
['49', 'samreen', '137000\n']
['50', 'nagarjuna', '47000\n']
['51', 'pandu', '56000\n']
['52', 'samreen', '95000\n']
['53', 'pandu', '156000\n']
['54', 'nagarjuna', '174000\n']
['55', 'nithish', '152000\n']
['56', 'nagarjuna', '118000\n']
['57', 'nagarjuna', '83000\n']
['58', 'suresh', '116000\n']
['59', 'samreen', '83000\n']
['60', 'pandu', '39000\n']
['61', 'nagarjuna', '91000\n']
['62', 'pandu', '43000\n']
['63', 'nithish', '141000\n']
['64', 'samreen', '163000\n']
['65', 'nithish', '43000\n']
['66', 'pandu', '40000\n']
['67', 'nithish', '61000\n']
['68', 'nagarjuna', '78000\n']
['69', 'nagarjuna', '169000\n']
['70', 'pandu', '14000\n']
['71', 'pandu', '132000\n']
['72', 'samreen', '147000\n']
['73', 'samreen', '136000\n']
['74', 'suresh', '46000\n']
['75', 'suresh', '119000\n']
['76', 'pandu', '47000\n']
['77', 'nithish', '53000\n']
['78', 'pandu', '86000\n']
['79', 'pandu', '93000\n']
['80', 'samreen', '28000\n']
['81', 'samreen', '88000\n']
['82', 'suresh', '151000\n']
['83', 'samreen', '83000\n']
['84', 'nagarjuna', '39000\n']
['85', 'samreen', '125000\n']
['86', 'samreen', '112000\n']
['87', 'pandu', '63000\n']
['88', 'nagarjuna', '118000\n']
['89', 'nithish', '100000\n']
['90', 'samreen', '126000\n']
['91', 'samreen', '53000\n']
['92', 'samreen', '105000\n']
['93', 'suresh', '105000\n']
['94', 'pandu', '163000\n']
['95', 'pandu', '90000\n']
['96', 'samreen', '51000\n']
['97', 'samreen', '11000\n']
['98', 'pandu', '135000\n']
['99', 'nithish', '35000']

In [46]:
f=open("data.csv","r")
for i in f:
    print(i.split(",")[-1])

sal

153000

107000

192000

195000

168000

176000

137000

169000

62000

108000

102000

37000

133000

28000

150000

93000

179000

88000

84000

133000

135000

64000

192000

182000

193000

65000

72000

193000

178000

135000

43000

79000

145000

70000

93000

118000

80000

102000

98000

110000

43000

30000

41000

42000

181000

172000

95000

28000

148000

137000

47000

56000

95000

156000

174000

152000

118000

83000

116000

83000

39000

91000

43000

141000

163000

43000

40000

61000

78000

169000

14000

132000

147000

136000

46000

119000

47000

53000

86000

93000

28000

88000

151000

83000

39000

125000

112000

63000

118000

100000

126000

53000

105000

105000

163000

90000

51000

11000

135000

35000

In [47]:
f=open("data.csv","r")
for i in f:
    print(i.split(",")[-1].strip())

sal
153000
107000
192000
195000
168000
176000
137000
169000
62000
108000
102000
37000
133000
28000
150000
93000
179000
88000
84000
133000
135000
64000
192000
182000
193000
65000
72000
193000
178000
135000
43000
79000
145000
70000
93000
118000
80000
102000
98000
110000
43000
30000
41000
42000
181000
172000
95000
28000
148000
137000
47000
56000
95000
156000
174000
152000
118000
83000
116000
83000
39000
91000
43000
141000
163000
43000
40000
61000
78000
169000
14000
132000
147000
136000
46000
119000
47000
53000
86000
93000
28000
88000
151000
83000
39000
125000
112000
63000
118000
100000
126000
53000
105000
105000
163000
90000
51000
11000
135000
35000

In [50]:
f=open("data.csv","r")
salaries=[]
for i in f:
    if "sal" not in i:
        salaries.append(int(i.split(",")[-1].strip()))
print(salaries)

[153000, 107000, 192000, 195000, 168000, 176000, 137000, 169000, 62000, 108000, 102000, 37000, 133000, 28000, 150000, 93000, 179000, 88000, 84000, 133000, 135000, 64000, 192000, 182000, 193000, 65000, 72000, 193000, 178000, 135000, 43000, 79000, 145000, 70000, 93000, 118000, 80000, 102000, 98000, 110000, 43000, 30000, 41000, 42000, 181000, 172000, 95000, 28000, 148000, 137000, 47000, 56000, 95000, 156000, 174000, 152000, 118000, 83000, 116000, 83000, 39000, 91000, 43000, 141000, 163000, 43000, 40000, 61000, 78000, 169000, 14000, 132000, 147000, 136000, 46000, 119000, 47000, 53000, 86000, 93000, 28000, 88000, 151000, 83000, 39000, 125000, 112000, 63000, 118000, 100000, 126000, 53000, 105000, 105000, 163000, 90000, 51000, 11000, 135000, 35000]

In [51]:
f=open("fun_mem.jpg","rb")
data=f.read()
f.close()
f=open("fun_mem_copy.jpg","wb")
for i in range(10):
    f.write(data)
    f.flush()
f.close()